
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Candal&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn__primary {
  @apply rounded-xl bg-blue-800 text-white px-5 py-2 font-semibold hover:bg-white hover:text-black border-2 border-blue-800 hover:border-[#dedede];
}

.btn__transparent {
  @apply px-5 py-2 font-semibold;
}

.btn__outline {
  @apply border-2 border-[#f3f3f3]  hover:border-[#8A8C8E];
}


.swiper-wrapper{
  @apply pb-6;
}
.swiper-pagination-bullet{
  @apply w-3 h-3 rounded-full !important;
  border: 2px solid #B1B5C3 !important;
  background: #fff !important;
;
}
.swiper-pagination-bullet-active{
  @apply w-3 h-3 rounded-full !important;
  border: 2px solid #B1B5C3 !important;
  background: #B1B5C3 !important;
;
}